@import url(styles.css);
@import url(fonts.css);
@import url(reset.css);

:root {
    --dark-bg: #1f2937;
    --light-text: #e5e7eb;
    --logo-text: #f9faf8;
    --button-color: #3882f6;
    --transition: all 0.2s ease-in-out;
}

/* Breadcrumb */
.breadcrumb {
    padding: 1rem 0;
    align-self: flex-start;
    color: var(--light-text);
    text-align: left;
    width: 100%;
    max-width: 76vw;
}

.breadcrumb-wrap {
    width: 100%;
    max-width: 76vw;
}

.breadcrumb ul {
    display: flex;
}

.breadcrumb a {
    font-family: 'Roboto', sans-serif, 'Open Sans';
    color: var(--dark-bg);
    text-decoration: none;
    font-weight: bold;
}

.breadcrumb a:hover {
    color: var(--button-color);
}

.breadcrumb a.active {
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--button-color);
}

.breadcrumb  a::before {
    content: ">";
    padding: 0 1rem;
    color: var(--dark-bg);
    font-weight: bold;
}

/* Galleries */
.galleries {
    margin: 2rem 0;
}

.galleries>h2 {
    font-family: 'Roboto', sans-serif, 'Open Sans';
    font-weight: 300;
    text-align: center;
    color: var(--dark-bg);
    font-size: 2rem;
    margin-bottom: 2.5rem;
}


/* Gallery Grid */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1.1rem;
    align-items: center;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    transition: transform 0.3s ease;
}

.gallery-grid img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.cta .cta-btn:hover {
    background-color: var(--dark-bg);
    color: var(--light-text);
    cursor: pointer;
    box-shadow: 0.2px 0.2px 3px 0px var(--dark-bg);
}

@media (max-width: 600px) {

    /* Breadcrumb */
    .breadcrumb {
        display: flex;
        align-items: center;
      }

    .breadcrumb-wrap {
        max-width: 90vw;
    }

    .breadcrumb nav a {
        font-size: 0.8rem;
    }

    /* Galleries */
    .galleries>h2 {
        font-size: 1.5rem;
    }

    /* Gallery Grid */

    .gallery-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 1rem;
    }

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .gallery-grid img:hover {
        transform: none;
        box-shadow: none;
    }

    .breadcrumb nav a:hover {
        color: var(--dark-bg);
    }
    .container {
        width: 100vw !important;
        margin: 0 auto;
        padding: 0.2rem;
      }
}